.search-form {
  border: 1px solid #d9d9d9;
  padding: 5px;
  border-radius: 2px;
  position: relative;
}

.search-form:hover {
  border: 1px solid orange;
}

.search-form input {
  border: none;
  outline: none;
  width: 100%;
  padding: 6px;
  font-size: 16px;
}

.btn-clean {
  position: absolute;
  right: 5px;
  top: 12px;
  font-size: 16px;
  color: #ccc;
  cursor: pointer;
}

.btn-clean:hover {
  color: red;
}
